@import "tailwindcss";

.inner_shadow {
    box-shadow: inset 0 -10vh 10px #f8a100;
}

@keyframes moveOutward {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(var(--x), var(--y)) scale(0.5);
        opacity: 0;
    }
}

.floating-image {
    position: absolute;
    width: 50px;
    /* Adjust size as needed */
    height: 50px;
    animation: moveOutward 5s linear forwards;
}

.kaushan-script-regular {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}


.cinzel-100 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.cinzel-300 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.cinzel-500 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.cinzel-700 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.cinzel-900 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.lunasima-regular {
    font-family: "Lunasima", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lunasima-bold {
    font-family: "Lunasima", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.font-bold {
    font-family: "Lunasima", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lunasima-italic {
    font-family: "Lunasima", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.kaushan-script-regular {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}


div,
h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: "Lunasima", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@keyframes bannerAppear {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.bannerAni {
    animation: bannerAppear 0.5s ease-in-out 1s;
    animation-fill-mode: forwards
}

@keyframes backgroundStart {
    0% {
        background-color: #011d39;
    }

    100% {
        background-color: white
    }
}

.bgStart {
    animation: backgroundStart 1s ease-in-out;
}

@keyframes navStart {
    0% {
        width: 0vw;
        background-color: white;
    }

    45% {
        width: 12vw;
    }

    100% {
        width: 9vw;
        background-color: transparent;
    }
}

@keyframes navLgStart {
    0% {
        width: 0vw;
        background-color: white;
    }

    45% {
        width: 10vw;
    }

    100% {
        width: 8vw;
        background-color: transparent;
    }
}

.navStart {
    animation-name: navStart;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
}

@media (min-width: 1040px) {
    .navStart {
        animation-name: navLgStart;
    }
}

@keyframes iconStart {
    0% {
        opacity: 0;
    }

    50% {
        translate: 15px;
    }

    100% {
        opacity: 100;
        translate: 0px;
    }
}

.iconStart {
    animation-name: iconStart;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}